body {
  overflow: hidden;
  /*background: #f5f5f3;*/
  background-color: #607d8b;
  color: white;
  text-align: center;
}
.vertical-center {
  margin-left: auto;
  margin-right: auto;
}
.menu-container {
  height: 250px;
  width: 600px;
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
  position: absolute;
  z-index: 1001;
  top: 20px;
  width: 600px;
  height: 120px;
  font-size: 20px;
}

.menu-item, .menu-open-button {
  background: #a80032;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-item:hover {
  background: #00a876;
  color: white;
}

.menu-item-inner {
  background: #f5f5f3;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: #f5f5f3;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open ~ .menu-item img {
  position: relative;
  top: -7px;
  height: 50px;
  width: 50px;
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
  -webkit-transform: translate3d(-240px, 105px, 0);
          transform: translate3d(-240px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4):hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(-200px, 90px, 0);
          transform: scale(1.2, 1.2) translate3d(-200px, 90px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
  -webkit-transform: translate3d(240px, 105px, 0);
          transform: translate3d(240px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6):hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(200px, 90px, 0);
          transform: scale(1.2, 1.2) translate3d(200px, 90px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 280ms;
          transition-duration: 280ms;
  -webkit-transform: translate3d(-120px, 105px, 0);
          transform: translate3d(-120px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8):hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(-100px, 90px, 0);
          transform: scale(1.2, 1.2) translate3d(-100px, 90px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(10) {
  -webkit-transition-duration: 280ms;
          transition-duration: 280ms;
  -webkit-transform: translate3d(120px, 105px, 0);
          transform: translate3d(120px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(10):hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(100px, 90px, 0);
          transform: scale(1.2, 1.2) translate3d(100px, 90px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(12) {
  -webkit-transition-duration: 380ms;
          transition-duration: 380ms;
  -webkit-transform: translate3d(0px, 105px, 0);
          transform: translate3d(0px, 105px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(12):hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0px, 90px, 0);
          transform: scale(1.2, 1.2) translate3d(0px, 90px, 0);
}

/* Menu item checkboxes */
.menu-item-cbox {
  display: none;
}
.menu-item-cbox:checked + .menu-item img {
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  -webkit-transform: translate3d(-300px, 130px, 0);
          transform: translate3d(-300px, 130px, 0);
  cursor: default;
  pointer-events: none;
  width: 250px;
  height: 250px;
}

.btn-start {
  -webkit-transition-duration: 550ms;
    transition-duration: 550ms;
  opacity: 0 !important;
  height: 45px;
  opacity: 1;
  position: relative;
  left: 280px;
  width: 350px;
  height: 70px;
  text-align: center;
  font-size: 1.8em !important;
  pointer-events: none;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #a80032;
  color: #f5f5f3 !important;
  outline: none !important;
  font: bold 1.2em 'Cantarell';
}
.btn:hover {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.22),0 15px 30px 0 rgba(0,0,0,0.21);
  /*box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);*/
}
.btn:active {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12);
}

.requestlog-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333;
  pointer-events: none;
  margin-bottom: 0;
  margin-left: 10px;
  transition: background-color 0.5s;
}

.requestlog-bullet-cbox {
  display: none;
}

/* checked = working */
.requestlog-bullet-cbox:checked + label {
  background-color: #607d8b;
}

/* disabled = error */
.requestlog-bullet-cbox:disabled + label {
  background-color: #a80132;
}
/* disabled and checked = success */
.requestlog-bullet-cbox:disabled:checked + label {
  background-color: #4caf50;
}

#vnc-canvas {
  position: relative;
  top: 65px;
}

@keyframes fadeCanvas {
  from {
    opacity: 0;
    box-shadow: 0;
    border: 0;
  }
  to {
    opacity: 1;
    border: 1px solid #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}

.fadeInCanvas {
  animation-name: fadeCanvas;
  animation-direction: normal;
  animation-delay: 500ms;
}
.fadeOutCanvas {
  animation-name: fadeCanvas;
  animation-direction: reverse;
}
